$color-background: #36688a;
$color-keys: rgba(255, 255, 255, 0.3);
$color-pressed: rgba(255, 255, 255, 0.12);
$color-activatable: rgba(0, 0, 0, 0.4);
$color-active: #08ff00;
$color-text: #ffffff;


$content-width: 1020px;