.wrapper {
    width: $content-width;
    margin: auto;
    padding: 100px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}